@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-bottom: lightgray 1px solid;
}

#navbar-title{
    padding: 0.8em 1em 0.8em 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-button{
    height: 100%;
    width: 8em;
    font-size: 0.75em;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0em 0em;
}

.navbar-button:focus{
    outline: none;
}

.navbar-button:hover{
    color: blue;
}

#login{
    border: blue 1px solid;
    color: blue;
    padding: 0.5em 0em;
}

.navbar-left{
    width: 50%;
}
.navbar-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

.login-button{
    padding: 0em 1.5em;
}

#center-content{
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-top: 6em;
    text-align: center;
}

.content-header{
    font-size: 3em;
}

.content-desc{
    width: 60%;
    margin-top: 1em;
    font-size: 1.2em;
    color: gray;
}

.tile-group{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 3em auto 3em auto;
}

.tile{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: grey 1px 1px 5px 0px;
}

.tile-title{
    font-size: 1.75em;
    width: 100%;
    background: #eeeeee;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding: 0.5em 0em 0em 0em;
}

.tile-tagline{
    font-size: 1em;
    width: 100%;
    background: #eeeeee;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding: 0.5em 0em 1em 0em;
}