
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}

#navbar-title{
    padding: 0.8em 1em 0.8em 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-button{
    height: 100%;
}

.navbar-left{
    width: 50%;
}
.navbar-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}