@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-bottom: lightgray 1px solid;
}

#navbar-title{
    padding: 0.8em 1em 0.8em 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-button{
    height: 100%;
    width: 8em;
    font-size: 0.75em;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0em 0em;
}

.navbar-button:focus{
    outline: none;
}

.navbar-button:hover{
    color: blue;
}

#login{
    border: blue 1px solid;
    color: blue;
    padding: 0.5em 0em;
}

.navbar-left{
    width: 50%;
}
.navbar-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

.login-button{
    padding: 0em 1.5em;
}